.controls{
  display: flex;
  gap: 6px;
}

.input{
  flex-grow: 1;
  border: 1px solid gray;
  border-radius: 6px;
  background-color: transparent;
  color: black;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 20px;
}

.button,
.select{
  border: 1px solid gray;
  border-radius: 6px;
  background-color: transparent;
  padding: 0 12px;
  color: black;
  flex-shrink: 0;
}
